* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
.wrapper{
    height: 100%;
    width: 100%;
    background-color: rgb(56, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
h1{
    font-size: 6rem;
    font-weight: 900;
    color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dice{
    display: flex;
    gap: 40px;
}
.img{
    /* border: 2px solid red; */
    height: 250px;
    aspect-ratio: 1;
    animation-name: dice-shake;
    animation-timing-function: linear;
    animation-duration: 2ms;
    animation-fill-mode: backwards;
}
@keyframes dice-shake {
    0%{
        transform: translateX(0%);
        transform: translateY(0%);
        transform: skew(20deg);
    }
    20%{
        transform: translateX(10%);
        transform: translateY(10%);
        transform: skew(10deg);
        transform: skew(-10deg);
    }
    40%{
        transform: translateX(20%);
        transform: translateY(20%);
        transform: skew(20deg);
        transform: skew(-20deg);
    }
    60%{
        transform: translateX(40%);
        transform: translateY(40%);
        transform: skew(40deg);
        transform: skew(-40deg);
    }
    100%{
        transform: translateY(0%);
        transform: translateX(0%);
    }
}
.img1{
    background-image: url(images/five.png);
    background-size: cover;
    /* background-position: center; */
}
.img2{
    background-image: url(images/three.png);
    background-size: cover;
    /* background-position: center; */
}
.dice-1 h2 , .dice-2 h2{
    font-size: 3rem;
    color: white;
    margin-bottom: 25px;
    text-align: center;
}
h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
    opacity: 0;
}